
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: 'Londrina Solid', cursive;
  color: #071e3d;
}
.fact{
 background-color: #ffcdab;
 margin: 10px;
border-radius: 50px;
padding: 10px;
width: fit-content;
}
.fact-container{
  position: relative;
  top: -500px;
  display: flex;
  flex-direction: row ;
  align-content: center;
  align-items: center;

}

.fact-img{
  background-color: #ffa45c;
  flex-shrink: 3;
  margin: 10px;
  border-radius: 50px;
  padding: 10px;

}