.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.fact{
 background-color: chocolate;
 margin: 10px;
border-radius: 50px;
padding: 10px;
width: fit-content;
}
.fact-container{
  position: relative;
  top: -500px;
  display: flex;
  flex-direction: row ;
  align-content: center;
  align-items: center;

}

.fact-img{
  background-color: cornflowerblue;
  flex-shrink: 3;
  margin: 10px;
  border-radius: 50px;
  padding: 10px;

}